{# templates/security/forgot_password.html.twig #}



{% block title %}Forgot Password{% endblock %}

{% block body %}
<h1>Forgot your password?</h1>

<form method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
    <button type="submit">Send Reset Link</button>
</form>

{% endblock %}
