{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block content %}
    <h1>Bienvenue sur la page Destination</h1>
    <p>Contenu de la page Destination à venir...</p>
{% endblock %}